.j-drag {
  height: 100%;
  overflow: hidden;
  padding: 0;

  > .el-row {
    height: 100%;
    overflow: hidden;

    > .el-col {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}

.m-drag {
  border: 1px solid rgb(235, 238, 245);
  display: flex;
  height: 100%;
  flex-direction: column;

  + * {
    margin-top: 10px;
  }

  > h3 {
    height: 30px;
    background: rgb(245, 248, 250);
    padding: 0 10px;
    line-height: 30px;
    margin: 0;
    font-size: 13px;
    font-weight: 600;
  }

  > .list {
    padding: 5px;
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: flex-start;

    .el-button--small {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      padding: 7px;
    }

    .drag-area-all-div {
      padding: 5px;
      justify-content: flex-start;
      font-size: $fz;
      color: #409eff;
      cursor: move;

      &:hover {
        color: #a0cfff;
      }
    }
  }

  > .list-table {
    padding: 5px;
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: flex-start;
    position: relative;
  }
}